.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90%;
    width: 80vw;
    border: 1px dashed white;
    font-family: 'Titillium Web', sans-serif
}

.left-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.left-form,.right-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 80%;
}

.name,.lastName,.email,.age,.country,.comments{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 60%;
    margin: 5px 10px 0 5px;
}

.form .left-form label,.form .right-form label{
    margin: 5px;
    font-weight: bold;
}

.form .left-form input[type="text"],.form .right-form input[type="text"]{
    border: none;
    margin: 5px;
    height: 60px;
    background-color: #222222;
    color: white;
    font-size: 13px;
}

.form input[type="text"]:hover,.comments textarea:hover{
    background-color: grey;
    cursor: pointer;
}

.error {
    margin: 1px 0 0 5px;
    font-size: 10px;
    color: red;
}

.left-form {
    margin-right: 2.5%;
}

.form .right-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.right-form form label{
    margin: 20px;
}

.country select option,.country select {
    background-color: #222222;
    color: #ccc;
    border: none;
}

.inline {
    display: flex;
    margin: 10px;
}

.inline .sex {
    margin-right: 30px;
}
.sex,.topic-interest{
    height: 120px;
    font-size: 13px;
}

.sex .error {
    margin: 38.5px 0 0 5px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.comments textarea {
    background-color: #222222;
    border: none;
    color: #ccc;
}

.form button {
    background-color: #ccc;
    color: #222222;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
}

.form button:hover {
    background-color: #222222;
    color: #ccc;
}

@media (max-width: 720px) {
    .wrapper {
        height: auto;
    }
    .form {
        flex-direction: column;     
    }
    .right-form,.left-form{
        width: 80%;
    }
    .left-form h2 {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .inline {
        display: flex;  
        flex-direction: column;
    }
    .sex .error {
    margin-top: 10px;
    }
    .form button {
    margin-top: 50px;
    margin-bottom: 15px;
}
}

