.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 98%;
    width: 80vw;
    border: 1px dashed white;
    font-family: 'Titillium Web', sans-serif
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-weight: bold;
    color: #ccc;
    font-size: 50px;
}

.left-form,.right-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 60%;
}

.left-form h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}

.left-form label,.right-form label {
    margin: 5px;
    font-weight: bold;
}

.name,.lastName,.email,.age,.country,.comments { 
    display: flex; 
    flex-direction: column;
    height: 70px;
    width: 75%;
    margin: 5px 10px 0 5px;
    margin-bottom: 30px;
}

.left-form input[type="text"],.right-form input[type="text"] {
    border: none;
    margin: 4px 0 4px 0;
    height: 60px;
    background-color: #222222;
    color: #ccc;
    font-size: 13px;
    border-radius: 2px;
    padding: 10px;
}

input[type="text"]:hover,.comments textarea:hover {
    background-color: grey;
    cursor: pointer;
}

.error {
    margin: 1px 0 0 5px;
    font-size: 10px;
    color: red;
}

.left-form {
    margin-right: 2.5%;
}

.right-form form label {
    margin: 20px;
}

.country select option,.country select {
    background-color: #222222;
    color: #ccc;
    border: none;
}

.inline {
    display: flex;
    justify-content: center;
    width: 100%;    
}

.sex,.topic-interest {
    width: 40%;
}

.sex,.topic-interest {
    height: 120px;
    font-size: 13px;
}

.sex .error {
    margin-top: 33px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.comments textarea {
    background-color: #222222;
    border: none;
    color: #ccc;
    outline-style: outset;
    padding: 10px;
    resize: none;
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

button {
    background-color: #ccc;
    color: #222222;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover {
    background-color: #222222;
    color: #ccc;
}

@media (max-width: 720px) {
    .wrapper {
        height: auto;
        
    }
    .title {
        margin-bottom: 30px;
    }
    .right-form,.left-form{
        width: 80%;
    }

    .left-form h2 {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .inline {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .sex .error {
        margin-top: 10px;
    }

    .sex,.topic-interest {
        width: 80%;
    }

    button {
        margin-top: 50px;
        margin-bottom: 15px;
        width: 150px;
    }
}

